<!doctype html>
<html>
    <head>
        <litle>Hello</litle>
    </head>
    <body>
        <form action="/" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="sudmit" value="push">
        </form>
    </body>


</html>